@import '../variables.scss';

.header {
  display: flex;
  padding-top: 15px;
  padding-bottom: 0;
  justify-content: space-between;

  @include desktop {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .logo {
    height: 20px;

    @include desktop {
      height: 26px;
    }
  }
}
