@import '../variables.scss';

.header {
  @include container-width;

  padding-top: 15px;
  padding-bottom: 0;

  @include desktop {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .logo {
    height: 20px;

    @include desktop {
      height: 26px;
    }
  }
}
