@import '../variables.scss';

.header-banner {
  color: white;

  /* fallback */
  background: #00a5cd;
  background-image: linear-gradient(165deg, #03c2bf 15.97%, #0076cb);

  .header-banner-background {
    width: 100%;
    box-sizing: border-box;
    background-image: url('../../static/images/top-bg.png');
    background-repeat: no-repeat;
    background-position: -17px 47px;
    background-size: 214px 327px;
    padding-left: $gutter;
    padding-right: $gutter;

    @include desktop {
      background-position: 37px 75px, 0% 0%;
      padding-left: $desktop-side-margin;
      padding-right: $desktop-side-margin;
    }

    .header {
      display: flex;
      padding: 12px 0;
      justify-content: space-between;

      .logo-anchor {
        display: inline-block;
        flex-basis: 175px;
        flex-grow: 0;
        flex-shrink: 2;
        height: 30px;
        margin: 9px 0;
        background-image: url('../../static/docs-logo.png');
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
      }

      .header-nav {
        display: block;
        flex-basis: 490px;
        flex-grow: 0;
        flex-shrink: 1;
        margin: 0 16px;
      }

      .guide-search-widget {
        display: none;
        flex-basis: 250px;
        flex-grow: 0;
        flex-shrink: 2;
        height: 38px;
        margin: 5px 0;
        z-index: 1;

        @include desktop {
          display: block;
        }

        .suggestion-container {
          width: 400px;
          transform: translateX(-150px);
        }
      }
    }
  }
}
