@import '../../components/variables.scss';

$api-reference-item-height-mobile: 75px;
$api-reference-item-height-desktop: 90px;

.api-reference {
  @include container-width;
  font-family: freight-sans-medium, sans-serif;
  color: $text-color;
  padding-top: 15px;
  padding-bottom: 40px;

  @include desktop {
    padding-bottom: 75px;
  }

  .api-reference-item {
    position: relative;
    border: 1px solid $border-color2;
    font-size: 20px;
    padding: 0 50px 0 25px;

    margin-top: 14px;
    margin-bottom: 14px;
    height: $api-reference-item-height-mobile;
    border-radius: $div-border-radius;

    @include desktop {
      margin-top: 23px;
      margin-bottom: 23px;
      height: $api-reference-item-height-desktop;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid $border-color;

      .right-arrow {
        background-image: url('../../static/images/right-arrow-mouseover.png');
      }
    }

    .right-arrow {
      position: absolute;
      right: 35px;
      top: 0;
      bottom: 0;
      width: 15px;
      background-image: url('../../static/images/right-arrow.png');
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 15px 14px;
    }

    h2 {
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 60px;
      margin: 0 15px 0 0;
      color: $text-color;

      line-height: $api-reference-item-height-mobile;
      font-size: 18px;

      @include desktop {
        line-height: $api-reference-item-height-desktop;
        font-size: 20px;
      }

      &.ios-sdk {
        background-image: url('../../static/images/ios-outline.png');
        background-size: 25px 30px;

        @include desktop {
          background-size: 32px 39px;
        }
      }
      &.android-sdk {
        background-image: url('../../static/images/android-outline.png');
        background-size: 25px 30px;

        @include desktop {
          background-size: 32px 37px;
        }
      }
      &.js-sdk {
        background-image: url('../../static/images/js-outline.png');
        background-size: 26px 30px;

        @include desktop {
          background-size: 32px 37px;
        }
      }
    }
  }
}
