@import '../../components/variables.scss';

.banner {
  color: white;

  /* fallback */
  background: #00a5cd;

  background-image: linear-gradient(165deg, #03c2bf 15.97%, #0076cb);
}

.banner-icon-bg {
  @include container-width;

  background-image: url('../../static/images/top-bg.png');
  background-repeat: no-repeat;
  background-position: -17px 47px;
  background-size: 214px 327px;

  @include desktop {
    background-position: 37px 75px, 0% 0%;
  }
}
