$banner-height: 194px;
$banner-height-mobile: 118px;

$guide-menu-width: 330px;
$guide-menu-width-mobile: 280px;

$guide-gutter: 36px;

$guide-toc-width: 240px;
$guide-toc-gutter: 40px;

$footer-height: 132px;
