$banner-height: 194px;
$banner-height-mobile: 118px;

$guide-menu-width: 264px;
$guide-menu-width-mobile: 280px;

$guide-gutter: 36px;

$guide-toc-width: 180px;
$guide-toc-gutter: 10px;

$footer-height: 132px;
