@import '../../components/variables.scss';

$language-selector-width: 350px;

.guide {
  @include container-width;
  padding-top: 12px;
  margin-bottom: 12rem;

  .guide-header {
    position: relative;
    padding-bottom: 6px;
    border-bottom: 1px solid $border-color;

    @include desktop {
      padding-bottom: 10px;
    }

    h1 {
      font-family: freight-sans-book, sans-serif;
      font-weight: normal;
      font-size: 2.8rem;
      line-height: 2rem;

      @include desktop {
        margin-right: $language-selector-width;
        font-size: 2.8rem;
        line-height: 2rem;
      }
    }

    .language-selector {
      @include desktop {
        position: absolute;
        bottom: 44px;
        right: 0;
        width: $language-selector-width;
        text-align: right;
      }
    }
  }

  /* Overriding css of LanguageLink component */
  .language-link {
    width: auto;
    text-align: right;
    margin-right: 10px;

    &.active .text {
      color: $link-color;
    }

    &:hover .text {
      color: $link-hover-color;
    }

    .text {
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      color: $theme-gray;

      &:hover {
        color: $link-hover-color;
      }

      @include desktop {
        font-size: 22px;
      }
    }

    .language-icon {
      vertical-align: middle;
    }
  }


  .guide-content {
    h1,h2,h3,h4 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 2.4rem;
    }

    h2 {
      font-family: freight-sans-medium, sans-serif;
      font-size: 1.8rem;
      color: $text-color;
    }

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.4rem;
      font-family: freight-sans-medium, sans-serif;
      font-weight: normal;
    }

    p {
      font-family: Helvetica,Arial,sans-serif;
      line-height: 145%;
      color: $text-color;
      margin-bottom: 1rem;
      margin-top: 1rem;


      img {
        max-width: 100%;
      }

      @include desktop {
      }

      code {
        background: $inline-code-bg;
      }
    }

    pre {
      overflow: auto;
      background-color: $code-bg;
      padding: 1em;
      margin-bottom: 2rem;
    }

    ol {
      li {
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
      }
    }

    @mixin alertbox() {
      border-radius: $div-border-radius;
      padding: 5px 40px 5px 60px;
      margin-top: 15px;
      margin-bottom: 15px;
      background-repeat: no-repeat;
      background-position: 20px center;

      strong {
        font-family: freight-sans-bold, sans-serif;
        font-weight: normal;
      }
    }

    .note {
      @include alertbox;
      background-color: $doc-note-bg;
      background-image: url('../../static/images/note.png');
      background-size: 23px 23px;

      code {
        background-color: darken($doc-note-bg, 10%);
      }

      p, code {
        color: $doc-note-color;
      }
    }

    .tips {
      @include alertbox;
      background-color: $doc-tips-bg;
      background-image: url('../../static/images/tip.png');
      background-size: 26px 33px;

      code {
        background-color: darken($doc-tips-bg, 10%);
      }

      p, code {
        color: $doc-tips-color;
      }
    }

    .todo {
      @include alertbox;
      background-color: $doc-todo-bg;
      background-image: url('../../static/images/todo.png');
      background-size: 25px 23px;

      code {
        background-color: darken($doc-todo-bg, 10%);
      }

      p, code, ul {
        color: $doc-todo-color;
      }
    }

    .caution {
      @include alertbox;
      background-color: $doc-caution-bg;
      background-image: url('../../static/images/warning.png');
      background-size: 25px 23px;

      code {
        background-color: darken($doc-caution-bg, 10%);
      }

      p, code {
        color: $doc-caution-color;
      }
    }

    .advanced {
      @include alertbox;
      background-color: $doc-advanced-bg;
      background-image: url('../../static/images/advanced.png');
      background-size: 26px 26px;

      code {
        background-color: darken($doc-advanced-bg, 10%);
      }

      p, code {
        color: $doc-advanced-color;
      }
    }
  }
}

/* code switcher styles */

$switcher-height: 28px;

.code-switcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 16px;

  label {
    font-family: freight-sans-medium, sans-serif;
    color: $theme-gray;
    height: $switcher-height;
    line-height: $switcher-height;
    text-align: center;
    background-color: $code-switcher-tab-bg;
    cursor: pointer;

    width: 100px;
    font-size: 14px;

    @include desktop {
      width: 120px;
      font-size: 16px;
    }

    &:first-of-type {
      border-radius: $div-border-radius 0 0 0;
    }

    &:last-of-type {
      border-radius: 0 $div-border-radius 0 0;
    }
  }

  .body {
    width: 100%;
    order: 1;

    pre {
      margin-top: 0;
      border-radius: $div-border-radius 0 $div-border-radius $div-border-radius;
    }
  }

  input[type=radio], div.body {
    display: none;
  }

  input[type=radio]:checked + label {
    background: $code-switcher-tab-active-bg;
    color: $text-color;

    &+ .body {
      display: block;
    }
  }

}
