@import '../../components/variables.scss';
@import './dimensions.scss';

.guide-page {
  position: absolute;

  .guide-menu {
    @include below-header;

    bottom: 0;
    left: 0;
    width: $guide-menu-width;
    z-index: 1;

    @include mobile {
      left: -$guide-menu-width-mobile;
      width: $guide-menu-width-mobile;
      transition: left 0.5s;

      &.active {
        left: 0;
      }
    }
  }

  .guide {
    @include below-header;

    right: 0;
    bottom: 0;
    left: $guide-menu-width;

    @include mobile {
      left: 0;
    }
  }
}
