@import '../../components/variables.scss';
@import './dimensions.scss';

$version-banner-single-line-height: 50px;

.guide {
  box-sizing: border-box;
  padding: 0;

  .guide-header {
    display: flex;
    margin: 0 $guide-gutter;
    padding: 24px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include large-screen {
      margin-right: $table-of-contents-section-width + 2 * $table-of-contents-section-gutter + $guide-gutter;
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    h1 {
      margin: 0;
      font-family: $content-heading-font;
      font-weight: 500;
      font-size: 2.3rem;
      line-height: 50px;
    }

    button {
      margin: 8px 0;
      padding: 3px 8px 3px 33px;
      box-sizing: border-box;
      background-color: $action-button-bg;
      color: white;
      font-size: 14px;
      line-height: 17px;
      border-radius: 6px;
      background-image: url('../../static/images/icn-edit-page.svg');
      background-repeat: no-repeat;
      background-size: auto 14px;
      background-position: left 10px center;

      &:active {
        background-color: darken($action-button-bg, 10%);
      }
    }
  }

  .guide-content {
    margin: 12px $guide-gutter;
    padding: 0;

    @include large-screen {
      margin-right: $table-of-contents-section-width + 2 * $table-of-contents-section-gutter + $guide-gutter;
    }

    h1,
    h2,
    h3,
    h4 {
      font-family: $content-heading-font;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      color: $text-color;
    }

    h1 {
      font-size: 2.3rem;
    }

    h2 {
      font-size: 1.9rem;
      margin-top: 2.5rem;
      margin-bottom: 1.5rem;
    }

    h3 {
      font-size: 1.4rem;
      font-weight: normal;
    }

    h4 {
      font-size: 1.2rem;
      font-weight: normal;
    }

    p {
      line-height: 145%;
      color: $text-color;
      margin-bottom: 1rem;
      margin-top: 1rem;

      img {
        max-width: 100%;
      }

      code {
        background: $inline-code-bg;
      }

      a code {
        color: $link-color;
        font-weight: bold;
      }
    }

    a {
      &.external::before {
        content: url('../../static/images/icn-external.svg');
        display: inline-block;
        height: 12px;
        width: 12px;
        margin: 0 6px 0 0;
      }

      &.github::before {
        content: url('../../static/images/icn-github.svg');
        display: inline-block;
        height: 12px;
        width: 12px;
        margin: 0 6px 0 0;
      }
    }

    pre {
      overflow: auto;
      background-color: $code-bg;
      padding: 1em;
      margin-bottom: 2rem;
    }

    ol,
    ul {
      margin: 1.5rem 0;
      padding: 0;
      padding-left: 1.5rem;
      list-style-position: outside;

      li {
        margin: 0;
        margin-bottom: 0.833333333rem;
      }
    }

    table {
      color: #333333;
      border-width: 1px;
      border-color: #3a3a3a;
      border-collapse: collapse;
    }

    th {
      border-width: 1px;
      padding: 8px;
      border-style: solid;
      border-color: #3a3a3a;
      background-color: #b3b3b3;
    }

    td {
      border-width: 1px;
      padding: 8px;
      border-style: solid;
      border-color: #3a3a3a;
      background-color: #ffffff;
    }

    @mixin alertbox() {
      border-radius: $div-border-radius;
      padding: 5px 40px 5px 60px;
      margin-top: 15px;
      margin-bottom: 15px;
      background-repeat: no-repeat;
      background-position: 20px center;

      strong {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
      }
    }

    .note {
      @include alertbox;

      background-color: $doc-note-bg;
      background-image: url('../../static/images/note.png');
      background-size: 23px 23px;

      code {
        background-color: darken($doc-note-bg, 10%);
      }

      p,
      code {
        color: $doc-note-color;
      }
    }

    .tips {
      @include alertbox;

      background-color: $doc-tips-bg;
      background-image: url('../../static/images/tip.png');
      background-size: 26px 33px;

      code {
        background-color: darken($doc-tips-bg, 10%);
      }

      p,
      code {
        color: $doc-tips-color;
      }
    }

    .todo {
      @include alertbox;

      background-color: $doc-todo-bg;
      background-image: url('../../static/images/todo.png');
      background-size: 25px 23px;

      code {
        background-color: darken($doc-todo-bg, 10%);
      }

      p,
      code,
      ul {
        color: $doc-todo-color;
      }
    }

    .caution {
      @include alertbox;

      background-color: $doc-caution-bg;
      background-image: url('../../static/images/warning.png');
      background-size: 25px 23px;

      code {
        background-color: darken($doc-caution-bg, 10%);
      }

      p,
      code {
        color: $doc-caution-color;
      }
    }

    .advanced {
      @include alertbox;

      background-color: $doc-advanced-bg;
      background-image: url('../../static/images/advanced.png');
      background-size: 26px 26px;

      code {
        background-color: darken($doc-advanced-bg, 10%);
      }

      p,
      code {
        color: $doc-advanced-color;
      }
    }

    .table-of-contents {
      display: block;
      margin: 0;

      @include large-screen {
        position: fixed;
        display: inline-block;
        top: $banner-height + $table-of-contents-section-gutter + $version-banner-single-line-height;
        right: $table-of-contents-section-gutter;
        width: $table-of-contents-section-width;
      }

      &::before {
        content: 'Contents';
        display: block;
        margin: 0;
        padding: 7px 0;
        margin-bottom: 0.5rem;
        font-size: 12px;
        font-weight: bold;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 0.5rem;

          a {
            color: $guide-toc-anchor-color;

            &:hover {
              color: $guide-toc-anchor-active-color;
            }
          }
        }
      }
    }
  }
}

/* code switcher styles */

$switcher-height: 28px;

.code-switcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 16px;

  label {
    font-family: freight-sans-medium, sans-serif;
    color: $theme-gray;
    height: $switcher-height;
    line-height: $switcher-height;
    text-align: center;
    background-color: $code-switcher-tab-bg;
    cursor: pointer;
    width: 100px;
    font-size: 14px;

    @include desktop {
      width: 120px;
      font-size: 16px;
    }

    &:first-of-type {
      border-radius: $div-border-radius 0 0 0;
    }

    &:last-of-type {
      border-radius: 0 $div-border-radius 0 0;
    }
  }

  .body {
    width: 100%;
    order: 1;

    pre {
      margin-top: 0;
      border-radius: $div-border-radius 0 $div-border-radius $div-border-radius;
    }
  }

  input[type=radio],
  div.body {
    display: none;
  }

  input[type=radio]:checked + label {
    background: $code-switcher-tab-active-bg;
    color: $text-color;

    & + .body {
      display: block;
    }
  }
}
