language: node_js

cache:
  directories:
    - node_modules

node_js:
  - '5.0'

script:
  - npm run build release

before_deploy:
  - ./scripts/before-deploy.sh

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket:
      secure: cJBWCJ9zu4VmAVUL6RbXnMgFfjPv2N98ro/gX8SUsce4dzypS0aihZ4p4hV40/kl995t/4C8FE0eSemIGD5idMKvvBBnDfwozlAYn1bYdqDGo6rZ3oaoCC56gNPC6++JUUZmmQd17dmddzmhghIXIYCtYrZake4IVo3QPaCFJfE9wcKul8xjOVG/Lfm1Gyp/D7cF4/WS8Y9yvC/ATE0Dp56UtKY3F30A+UH1datDgM3buxBU8A83JWPZCleP9Qksii5SMXOm4aYdydL+i9ktjIYPu6mSP09TEGCbca4xUKKQ2rM9k8VXLLTDFonh73NiJUejBgCplU6wwnYon0Wn4y4JlWzgPbcTf+j6KtSG2az/yJG+YlMLaTXWggrnyz5mjmW9TXEs/l+S7dCTndnIXOIur6z9xBLiBj6I1DXExZVweuQ8ZNX+IeonFW0yvq8LCjTN6WMme9ELhHeUe1tKlamsrERiDeAD/QL27/9KyliG3+qRc/5b9x+lGa91+5cAfV60bdYxdwCChkUpPJiHdfACjt2pO0pcH2yHiR/Jk3x8cENOUP09UbhPb7s3kwjyZWmmDmeTB11f244kurxDL6QDaPRxpQeka5im/YOPiQHUPH2lb0sg58TboT5YhYnC5+ranvoLsn4zvWkwix/a3H7xBG92idEl57A0Z3HeXGU=
    skip_cleanup: true
    acl: public_read
    local_dir: build
    on:
      repo: SkygearIO/skygear-doc
      branch: master
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: docs.skygear.io
    skip_cleanup: true
    acl: public_read
    local_dir: build
    on:
      repo: SkygearIO/skygear-doc
      branch: $PRODUCTION_BRANCH

after_deploy:
  - ./scripts/after-deploy.sh

notifications:
  slack:
    secure: "fHI2cpgs8nE8zJ8n0wUd69DlJWclerl7ri/GJEPnCbYoOGr78uR0iI7oJlrFJVnzlm/BUgsL+kePqlBxrg25GjuYTZc86+qA9KeZKSaW7ilzmJCERPA0iEctv1hMBw7EHG3d9Il/HcLctengFyE5P9je70vtmujREjVfG/3XSwrLFhoHuDOkT67vbDFqOSXl0zBisXgXdnTCIiJGCPlly1enwlAcEO59cD0UeOHXR5iptENetnGcp6FeK5qEK2KvA/QB8zQ7KT2BtVu0+BCpVj979QLuLblnhu5HmnaRbJJp/YpqDkOedEpv0FqS1RijkiXy6tT3oRGa7ZI7+EXiehkHqs15qWc+5nq7bEmCWrfPU/CHM0e63FJc5cmhgA+/OS7xumpxMEpZqtffbA4YiOXkQEGc8ql4QGeVn3WLpvrgknK0NHTvUcFHvJxMBRNkye0zMZ2NYaiIX8pLHccwRLrBip2cVXW4ZL0OesM403HQ9MnLDHnI0g5ZHDqeCjTkS3ixNPFhraLHokgZJGqwJjnhpXd5I0lU/zmwOYG1lPhlFjzz3p/VCjvhOpmbkqFUEtxikvYpgpA1763/eUSqkn+iv3eEugkbdHBYe0vGooEtqW7XqzypUB9IGzAJkbPJtZFdIZHiEcWFTN3czM0iM8xg8ZeXRuBPLJ3SA4y5B00="

env:
  global:
    - PRODUCTION_BRANCH="production"
    # AWS_ACCESS_KEY_ID
    - secure: "u/3cyaOW8G4C3/oMSrWPNDEU6CcCmhPSweDwc1EEf/ch0jVC4LfQxtE9kLQRNO9uxCUOgZohMvBn+pArw7b6VPSjnMUhB6rldfjK7R2k+tLH/eSnkCQYaETLoZDqquJmzfrYcFd++pdSwZ8hFRgAOG7UkbII+cK88Q7ZYVeP6HwElLTm+zmyk7S56PQoohGVRgfJbSK34hLJfXMAG7n1nk+WckRX0CmmTMyZlrNOj6XeehXiZLhxY3/uKz0LvMv6ZLK3TgPtwz6jDrUi3uDn1Be6q4DrD3nkcmxjIRrmtvaxYYDw/Ulheg+eOuQwfMvr2RiUgeYOMDCqgqO2ljoMEvcZEBEc41WqHFakDHKWBOA4ideicVY1Y6QWpUah2p/ATPaPi3j0JkMtm3eer60+587viGfyomiH7YoeO5hUAXopipd0cmy+VzEzE7Jvw7vfes4isG+g7JWvKLh6L97tX9YhtmLcffqAmb8p7jJzn9kFMdRAYd+zsAgf0miQDUtDnhT/BTxHHafYvrTXOL+iAm9AVazyLr1XqsPtY2NxhhIK46ePEB6ivpqCaKnrVcvSVdxPTRvcQgnmz36MF4/OXLVz95x8kUOzrK0a8+OP8w7+M+iGcic0zZdMqG7iFKv6zRthx67wGgg71VzmPaqhHa6fxHAj6w7VEK68NJ/6fjg="
    # AWS_SECRET_ACCESS_KEY
    - secure: "RLHv4JHUu9dEtzH2vxTCaIZeFV0cGAxg559HxIO1IrdjDtnQD3h64u9PY0Ad5qRQaBoykuvXhy+3b9tDphX6OpWIWP7s30sniLOxpnRuAnoZHFTZ3KPjN5D9d37nwElGeydwtpoLePuhyuk6InatSG7I3rDAJNDbaLAUQLDtRERQslB9EKZNcGD9eAcjQYxf6LARfUjlYbBnBbGWMsGiOlKBRgGkDlRXqT0QEWK98oBiumPx6/uD3r4v7KL9BEXTudE581YdECfmH7nmcYo+PWWgzdGEHBvMc3deMdCYc4pHQOewEncBX2UStAIby6+t11q3FGgdedpsCTOli8R+O/lwcmWGNS6DXFwSwuV7aAeUKJMdFd4+of5kYSFdyzmW5alByEIWK5XlJwCFZUGnu5aSgYFLz/VXlA8a5oJbyChrZ+iuDaQvolaSr97OFGNX9IXrP2hN0M8Iee3O1EduOLw7bDJxX1B/NJfiQ5ipSJ0V4TeSo9DCpaKD6DZeVR7J5o144hygrnS8W8cEqSOUMjmRmXv9SISP17QMUEkNUreb6gAo3mm58rRzXStmvbj5cIalIsXyxpC/kvOZfhWgq1cSA22q3GQTtb2NEFx4OezgK6ic+qpY/LF3ci2F3aSlUiewRBluHDz8Fv5yzw1h82w2Rau0tfIivqU1geCSA/8="
    # DISTRIBUTION_ID
    - secure: "wTx+a/LIIw3ItZ51os70ICIbjNVf2eGD965IAHaBt6L5HPAeE9gnph+OU4wu5PSdga/HkM0MOwwm2wClr5K7qrEqbqy5d0WjOEPRlpcJ32jM9pTsCEf2rZIIO2U9MmFkBptChn+tdUCVirumPaSMBHG9ftQVeodGz2eQ6fsAIPKUrMfeakoTDrz9GeB29vlBzaDjh4lweqkgEcduEMNuQ9B65AhI/U3ytQbmom5kcT4sVwrd1gMnfVYLDwjkadiDciW6A7e9dz4rJ7Nr3VtxXVtEd9bypxAnARs/z3uza8s4FNZB6eosF2iVTYEXJne86hmi8gkyAZ5bCenSTkRpXmgVZB0GuHbvkJAwME1H3DEzLLfsodouCkEwo8GnfZ3OCr2zUzUR3+iyL84HUPmt0cEKZjYuNKih3fr3YfxJLCwohJU4n6ruKZMNsqnjPYyfbcl/tsV+DrG2BdbXWs+Z6oYs1TIb+3DQAfiQoCh2mYtRans1nENtfE6Y09rjIlAFUclM615NbRsxNUDUfuIQFvGA1V9KJ82qXNzaaTba+xwOVNHL+gKbcRcLPgIZ+WfQUH/nc/ed5YTkbh4RV2HedOM3aAq2g7leT6WPL4B5RQRYqXn65dnz2u0yAqBdpNyWRvfAMrPGhB4IsHWRYirUSnZdMBydZ2ci7VhzjEMZRMk="
