@import '../variables.scss';

.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 1rem;
  border: 1px solid $theme-light-gray;
  border-radius: .625rem;
  overflow: hidden;

  .container {
    display: flex;
    align-items: flex-start;

    img {
      flex: 0 0 3rem;
      margin-left: 1rem;
      width: 3rem;
      height: auto;
    }

    .info {
      margin: 0 1rem;

      h3 {
        margin: 0;
      }

      span {
        color: $theme-gray;
        font-size: .875rem;
      }
    }
  }

  .button-list {
    display: flex;

    li {
      flex: 1;
      position: relative;
      border-top: 1px solid $theme-light-gray;
      border-left: 1px solid $theme-light-gray;
      height: 2.1875rem;

      a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: .75rem;
        text-align: center;
        line-height: 2.1875rem;
      }

      &:first-child {
        border-left-width: 0;
      }
    }
  }
}