@import '../../components/variables.scss';

.guide-list-container {
  width: 100%;

  .guide-list {
    @include container-width;
    padding-top: 0;
    padding-bottom: 7px;

    @include desktop {
      padding-top: 13px;
    }
  }
}
