@import '../variables.scss';

.Guide-Template {
  .container {
    margin: 3rem 0 0 0;
    display: flex;

    .menu {
      flex: 0 0 18.75rem;
      width: 18.75rem;
      margin-right: 1.25rem;

      &.sticky {
        position: fixed;
        top: 1rem;
        bottom: 0rem;
        padding-bottom: 16.25rem;
        overflow-y: scroll;

        & + .content {
          margin-left: 20rem;
        }
      }
    }

    .content {
      overflow: hidden;

      h1 {
        color: $theme-primary-color;
      }
    }
  }
}

@media (max-width: $screen-md-min) {
  .Guide-Template .container {
    .menu {
      display: none;
      flex-base: 0;

      &.sticky + .content {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  .Guide-Template {
    h1 {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .container {
      margin-top: 1rem;
      padding: .625rem;
    }
  }
}
