@import '../variables.scss';

.guide-search-item {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-start;

  img {
    flex: 0 0 30px;
    margin: 0 8px;
    width: 30px;
    height: auto;
  }

  .guide-search-item-container {
    em {
      font-style: normal;
      color: $content-highlight-color;
    }

    h1 {
      margin: 0;
      margin-bottom: 8px;
      padding: 0;
      font-size: 16px;
      font-weight: bold;
      line-height: 16px;
      color: $content-color;
    }

    .guide-search-item-description {
      display: block;
      margin: 8px 0;
      font-size: 12px;
      color: $content-color;
    }

    .guide-search-item-content {
      display: block;
      margin: 8px 0;
      font-size: 12px;
      color: lighten($content-color, 10%);

      em {
        color: lighten($content-highlight-color, 10%);
      }
    }
  }
}
