@import '../../components/variables.scss';

.guide-menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3px 0;
  background: $guide-menu-bg;

  .language-links {
    flex: 0 0 57px;
    padding: 8px $gutter;
    border-bottom: 1px solid $theme-light-gray;
    background-color: $guide-menu-bg;

    /* Overriding css of LanguageLink component */
    a {
      display: inline-block;
      width: 33%;
      padding: 0;
      padding-right: 18px;
      box-sizing: border-box;

      .language-link {
        width: auto;
        margin: 0;

        .text {
          font-size: 16px;
        }
      }
    }
  }

  nav {
    flex: 1;
    padding: 0 $gutter;
    overflow-y: auto;

    .guides-menu-section {
      .section-name {
        text-transform: uppercase;
        font-family: freight-sans-medium, sans-serif;
        color: $text-color;
        font-size: 1.2rem;

        @include mobile {
          margin-top: 18px;
          margin-bottom: 12px;
        }
      }

      .guides-menu-item {
        position: relative;
        padding-bottom: 0.6rem;

        .guide-name {
          font-family: freight-sans-book, sans-serif;
          color: $text-color;
          font-size: 1rem;
          margin-top: 0;
          margin-bottom: 0;
          cursor: pointer;

          &.active {
            color: $link-color;
          }

          &:not(.active):hover {
            color: $link-hover-color;
          }
        }
      }
    }
  }
}
