@import '../variables.scss';

.Markdown {
  color: $content-color;
  font-family: $content-font;

  h1, h2, h3, h4, h5 {
    color: $text-color;
    margin-top: 0;
    margin-bottom: 1.25rem;
  }

  h2 {
    font-weight: 600;
    font-size: 1.8rem;
  }

  p, ol, ul, pre, table {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  ol, ul {
    padding-left: 20px;
    list-style-position: outside;

    p {
      display: inline-block;
    }
  }

  code {
    box-sizing: border-box;
    padding: .25rem .375rem 0 .375rem;
    max-width: 100%;
    max-height: 100%;
    background-color: $inline-code-bg;
    color: $inline-code-color;
    font-size: .875rem;
    font-family: $content-code-font;
  }

  pre > code {
    display: inline-block;
    padding: .75rem .625rem;
    overflow: auto;
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  th, td {
    padding: 15px;
    text-align: left;
  }
  
  tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  p, li {
    line-height: 2rem;
  }

  li {
    margin-top: 0;
    margin-bottom: 0.5rem;
    ol, ul {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }
}
