@import '../variables.scss';

footer {
  margin-top: 0;
  width: 100%;
  border-top: 1px solid $border-color;
  color: $content-color;
  padding-top: 20px;
  padding-bottom: 20px;

  @include desktop {
    padding-top: 36px;
    padding-bottom: 25px;
  }
}

.footer-container {
  @include container-width;
}

.footer-row {
  @include row;
  @include clearfix;
}

.footer-copyright-column {
  @include column-12;

  text-align: center;
  font-family: freight-sans-medium, sans-serif;

  @include desktop {
    @include column-6;

    text-align: left;
  }

  p {
    margin-top: 0;
    margin-bottom: 3px;

    @include desktop {
      margin-bottom: 10px;
    }
  }
}

.footer-contact-column {
  @include column-12;

  text-align: center;
  font-family: freight-sans-book, sans-serif;

  @include desktop {
    @include column-6;

    text-align: right;
    margin-top: 5px;
  }

  @include mobile {
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.footer-logo {
  width: 120px;

  @include desktop {
    width: 150px;
  }
}
