@import '../../components/variables.scss';

.landing {
  .banner {
    color: white;

    /* fallback */
    background: #00a5cd;

    background-image: linear-gradient(to bottom right, #03c2bf 15.97%, #0076cb 81.51%);
  }

  .banner-icon-bg {
    width: 100%;
    box-sizing: border-box;
    background-image: url('../../static/images/top-bg.png');
    background-repeat: no-repeat;
    background-position: -17px 47px;
    background-size: 214px 327px;
    padding-left: $gutter;
    padding-right: $gutter;

    @include desktop {
      background-position: 37px 75px, 0% 0%;
      padding-left: $desktop-side-margin;
      padding-right: $desktop-side-margin;
    }
  }
}
