@import '../../components/variables.scss';

.contributing-container {
  @include container-width;

  /* mobile only */
  margin-top: 19px;
  margin-bottom: 19px;

  @include desktop {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.contributing-wrapper {
  background: #f4f3f3;
  border-radius: $div-border-radius;

  padding-top: 2px;
  padding-bottom: 14px;

  @include desktop {
    height: 110px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contributing-row {
  @include row;
  @include clearfix;
  position: relative;
  height: 100%;
}

.contributing-column-title {
  @include column-12;

  @include desktop {
    @include column-4;
    @include vertical-center-block;
  }

  @include mobile {
    text-align: center;
  }

  .contributing-text {
    background-image: url('../../static/images/contributing-icon.png');
    background-repeat: no-repeat;
    background-position: left center;
    color: $content-color;
    font-family: freight-sans-medium, sans-serif;

    background-size: 23px 19px;
    padding-left: 30px;
    font-size: 14px;

    @include desktop {
      background-size: 44px 36px;
      padding-left: 52px;
      line-height: 36px;
      text-align: left;
      font-size: 21px;
    }

    @include mobile {
      display: inline-block;
    }
  }
}

ul.contributing-column-items {
  @include column-12;

  list-style: none;
  padding: 0;
  margin: 0;

  text-align: center;
  font-size: 12px;
  font-family: freight-sans-book, sans-serif;

  @include desktop {
    @include column-8;
    @include vertical-center-block;
    right: 0;

    text-align: right;
    font-size: 18px;
  }

  li {
    display: inline-block;
    margin: 0 8px;

    @include desktop {
      margin: 0 13px;
    }
  }
}
