@import '../components/variables.scss';

.Index{
  .get-started-info {
    margin: 2rem auto;
    text-align: center;

    h2 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    a {
      @mixin primary-btn;
      display: inline-block;
      box-sizing: border-box;
      margin: 0 .625rem;
      font-size: .875rem;
      min-width: 6.875rem;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .section-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      width: 18.75rem;
      height: 10rem;
      margin: .75rem 1rem;
      padding-top: 1rem;
      border: 1px solid $theme-light-gray;
      border-radius: .625rem;
      overflow: hidden;

      .section-container {
        display: flex;

        img {
          display: inline-block;
          margin-left: 1rem;
          width: 3rem;
          height: 3rem;
        }

        .section-info {
          display: inline-block;
          margin: 0 1rem;

          h3 {
            margin: 0;
          }

          span {
            color: $$theme-gray;
            font-size: .875rem;
          }
        }
      }

      .section-button-list {
        display: flex;

        li {
          flex: 1;
          border-top: 1px solid $theme-light-gray;
          border-left: 1px solid $theme-light-gray;
          padding: .625rem;
          text-align: center;
          font-size: .75rem;

          &:first-child {
            border-left-width: 0;
          }
        }
      }
    }
  }

  .contributing-info {
    display: flex;
    justify-content: space-between;
    margin: 3rem 1rem;
    padding: 1rem;
    background-color: $theme-lighter-gray;

    li {
      display: inline-block;
      margin: 0 1rem;
    }
  }
}
